/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  background-color: white;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

.fundoVerde {
  background-color: rgb(53, 231, 53);
}

.fundoRosa {
  background-color: rgb(231, 53, 178);
}

.subtitulogit {
  background-color: brown;
  padding: 10px;
  color: white;
}

.perfil {
  background-color: rgb(170, 187, 140);
  height: 45vw;
}
